html {
       font-family: 'Montserrat', sans-serif;
}

body {
   font-size: 1em;
   width:  80%;
   margin: auto;
}

nav {
  padding: 1em 0;
  font-size: 1.6em;
  position: fixed;
  width:  inherit;
  top: 0;
  background-color: white;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding-left: 0.7em;
}

.container {
     margin-top: 6em;
}
